In [2]:
string_new="""hi
hello
bye"""
print(string_new)

hi
hello
bye

In [4]:
string_new="hello\nh r u "
print(string_new)

hello
h r u

In [5]:
string_raw=r"hello\nh r u"

In [6]:
print(string_raw)

hello\nh r u

In [9]:
print ("S\rN","B\nC")

N B
C

In [13]:
string1="Hello"
string2="Happy"
print(string1[3])

l

In [16]:
list1 = [1,2,3,3,4,4,5,5]

In [17]:
print (list1)

[1, 2, 3, 3, 4, 4, 5, 5]

In [19]:
print(set(list1))

{1, 2, 3, 4, 5}

In [9]:
l1=['monday','tuesday',100,200];
l2=[1,2,3,4,5,6];
l3=["a","b","c","d"];
print(l1[2])
l5=l2

100

In [4]:
l1==l2

True

In [6]:
l1 == l3

False

In [7]:
l4=[1,2,3,4,5,6]

In [8]:
l2==l4

True

In [10]:
l2 is l4

False

In [11]:
l2 is l5

True

In [13]:
string1 + string2

NameError: name 'string1' is not defined

In [14]:
l1 + l2

['monday', 'tuesday', 100, 200, 1, 2, 3, 4, 5, 6]

In [15]:
string1 + string2

NameError: name 'string1' is not defined

In [16]:
string1="Hello"
string2="Happy"
print(string1[3])

l

In [17]:
string1+string2

'HelloHappy'

In [18]:
string1*20

'HelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHello'

In [19]:
l1*10

['monday',
 'tuesday',
 100,
 200,
 'monday',
 'tuesday',
 100,
 200,
 'monday',
 'tuesday',
 100,
 200,
 'monday',
 'tuesday',
 100,
 200,
 'monday',
 'tuesday',
 100,
 200,
 'monday',
 'tuesday',
 100,
 200,
 'monday',
 'tuesday',
 100,
 200,
 'monday',
 'tuesday',
 100,
 200,
 'monday',
 'tuesday',
 100,
 200,
 'monday',
 'tuesday',
 100,
 200]

In [20]:
100 in l1

True

In [7]:
l1=[1,2,3,4,5,5]
print(l1) 
for x in l1:
    print("the item is",x)
for i in range(5):
    print(i)

[1, 2, 3, 4, 5, 5]
the item is 1
the item is 2
the item is 3
the item is 4
the item is 5
the item is 5
0
1
2
3
4

In [8]:
list('spam')

['s', 'p', 'a', 'm']

In [12]:
l=[1,2,3,4]
for x in l:
    print(l)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
# Write a program to count the number of occurances of digits (0-9), in the numbers between 1 and 100 (both included) 

# Initialise an empty string
str1=''

# string with all the numbers from 1 to 100
for x in range(1,101):
    str1 = str1+str(x)

# Find how many times each digit repeats in that string - index represents the digit
list1 = [str1.count(str(i)) for i in range(10)]
max_number = max(list1)

# Because there could be multiple digits that have the same score, print the largest digit
for i in range(10):
    if list1[i] == max_number:
        print(i)

1

In [22]:
l=[1,2,3,4]

In [23]:
l=[1,2,3,4]
for x in l:
    print(x)

1
2
3
4

In [24]:
l.append(100)

In [25]:
l

[1, 2, 3, 4, 100]

In [26]:
l.extend([10,20,30])

In [27]:
l

[1, 2, 3, 4, 100, 10, 20, 30]

In [10]:
l.insert(2,1000)

In [11]:
l

[1, 2, 1000, 3, 4, 100]

In [18]:
len(l)

11

In [14]:
del(l[2])

In [16]:
l

[1, 2, 3, 4, 100]

In [22]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
[x*x for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
# Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,between 2000 and 3200 (both included).The numbers obtained should be printed in a comma-separated sequence on a single line.
pl=[]
for x in range(2000,3201):
    if (x%7==0) and (x%5!=0):
        pl.append(str(x))
print (','.join(pl))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [1]:
list2=["mon","tue","wed","thu","fri"]


for i in range(5):
    print (i,"," ,list2[i])

print ("============================")
# Traditional coding
i = 0
for item in list2:
    print (i,',',item)
    i = i + 1

0 , mon
1 , tue
2 , wed
3 , thu
4 , fri
============================
0 , mon
1 , tue
2 , wed
3 , thu
4 , fri

In [ ]:
[x for x in range(2000,3201) if (x%5!=0 and y)]